<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Control Interface</title>
</head>

<body>
    <p> A: <a id="A1">value</a></p>
    <div class="container">
        <form id="msgForm" class="msgForm">
            <input name="A" type="text" placeholder="1.23" class="input" id="A" />
            <input type="submit" class="btn" value="Send">
        </form>
    </div>
    <script type="text/javascript" src="static/form.js"></script>
</body>
</html>

